// import Font chữ
// Font Funnel Sans
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// CSS Tổng quát
:root {
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    text-rendering: optimizeSpeed;
    height: 100%;
    width: auto;
    margin: 0;
}

#root {
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777777aa;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

// CSS Default Layout
.wrapper {
    height: 100%;
    margin: 0 auto;

    .container {
        height: 100%;
        margin: 0px;
        background-color: #121212;
    }
}

// CSS Left Container
.leftContainer {
    position: fixed;
    background: #121212;
    height: 100%;
    width: 100%;
    left: 0px;
    border-right: 0.5px solid #1f1f1f;
    z-index: 2;

    // phần top của leftContainer
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 0.5px solid #1f1f1f;
        background-color: #121212;
        position: relative;
        z-index: 1;

        // logo
        .logo {
            display: flex;
            align-items: center;

            img {
                height: 35px;
                // width: 100%;
                cursor: pointer;
            }
        }
        // nút tìm kiếm
        .search {
            .btnOpenSearch {
                background-color: transparent;
                border: 0.5px solid transparent;
                // border-radius: 4px;
                padding: 4px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #ffffff;
                transition: ease-in 0.2s;
            }
            .btnOpenSearch:hover {
                background-color: #1f1f1f;
            }
            .btnOpenSearch:active {
                background-color: #000;
            }
        }
    }
    // phần middle của leftContainer
    .middle {
        overflow-x: hidden;
        overflow-y: auto;
        height: 92%;
        // Nút xem hồ sơ
        .user {
            display: flex;
            align-items: center;
            padding: 8px;
            height: 80px;
            border-bottom: 0.5px solid #1f1f1f;
            background-color: #121212;
            position: relative;
            z-index: 1;

            .avatar {
                display: flex;
                align-items: center;
                height: 100%;
                width: 85px;

                img {
                    height: 100%;
                    width: 100%;
                    border: 0.5px solid #1f1f1f;
                    object-fit: cover;
                    cursor: pointer;
                }
            }

            .name {
                display: grid;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 75%;

                span {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;
                    transition: ease-in 0.2s;
                    width: 105px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: center;
                }
                span:hover {
                    text-decoration: underline;
                }
            }
        }
        // Danh sách phát
        .playlist {
            position: relative;
            height: 42px;
            transition: ease-out 0.2s;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;
                border-bottom: 0.5px solid #1f1f1f;
                background-color: #121212cc;
                backdrop-filter: blur(15px);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;

                .title {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 500;
                    color: #ffffff;
                }
                .options {
                    display: flex;
                    align-items: center;

                    .btnExpand {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: #ffffff;
                        padding: 5px;
                        transition: ease-out 0.2s;
                        cursor: pointer;
                    }
                    .btnExpand:hover {
                        background-color: #1f1f1f;
                    }
                    .btnExpand:active {
                        background-color: #000;
                    }
                    .btnAdd {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: #ffffff;
                        padding: 5px;
                        transition: ease-out 0.2s;
                        cursor: pointer;
                    }
                    .btnAdd:hover {
                        background-color: #1f1f1f;
                    }
                    .btnAdd:active {
                        background-color: #ffffff;
                        color: #000;
                    }
                }
            }

            .backTop {
                height: 42px;
            }

            .main {
                height: 0px;
                width: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                scroll-behavior: smooth;
                border-bottom: 0.5px solid #1f1f1f;
                transition: ease-in 0.2s;
                position: relative;
                z-index: 0;

                .btnPlaylist {
                    font-family: 'Funnel Sans', sans-serif;
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    border-bottom: 0.5px solid transparent;
                    height: 80px;
                    width: 100%;
                    padding: 8px;
                    transition: ease-out 0.2s;
                    cursor: pointer;

                    .coverImage {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 85px;

                        img {
                            height: 100%;
                            width: 100%;
                            border: 0.5px solid #1f1f1f;
                            object-fit: cover;
                            cursor: pointer;
                            filter: blur(0.4px);
                        }
                    }

                    .info {
                        display: grid;
                        align-items: center;
                        padding-left: 8px;
                        width: 75%;

                        .name {
                            // display: flex;
                            // align-items: center;
                            // justify-content: left;
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 400;
                            // padding-bottom: 4px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                            line-height: 25px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: left;
                            width: 100%;
                        }
                        .name:hover {
                            text-decoration: underline;
                        }
                        .quantity {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            // color: #b3b3b3;
                            color: #777777aa;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
                .btnPlaylist:hover {
                    background-color: #1f1f1f;
                }
                .btnPlaylist:active {
                    background-color: #000;
                }
            }
        }
        // Lịch sử nghe
        .historyListen {
            position: relative;
            height: 42px;
            transition: ease-out 0.2s;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;
                border-bottom: 0.5px solid #1f1f1f;
                background-color: #121212cc;
                backdrop-filter: blur(15px);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;

                .title {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 500;
                    color: #ffffff;
                }
                .options {
                    display: flex;
                    align-items: center;

                    .btnExpand {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: #ffffff;
                        padding: 5px;
                        transition: ease-out 0.2s;
                        cursor: pointer;
                    }
                    .btnExpand:hover {
                        background-color: #1f1f1f;
                    }
                    .btnExpand:active {
                        background-color: #000;
                    }
                    .btnAdd {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: #ffffff;
                        padding: 5px;
                        transition: ease-out 0.2s;
                        cursor: pointer;
                    }
                    .btnAdd:hover {
                        background-color: #1f1f1f;
                    }
                    .btnAdd:active {
                        background-color: #ffffff;
                        color: #000;
                    }
                }
            }

            .backTop {
                height: 42px;
            }

            .main {
                height: 0px;
                width: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                scroll-behavior: smooth;
                border-bottom: 0.5px solid #1f1f1f;
                transition: ease-in 0.2s;
                position: relative;
                z-index: 0;

                .btnPlaylist {
                    font-family: 'Funnel Sans', sans-serif;
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    border-bottom: 0.5px solid transparent;
                    height: 80px;
                    width: 100%;
                    padding: 8px;
                    transition: ease-out 0.2s;
                    cursor: pointer;

                    .coverImage {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 85px;

                        img {
                            height: 100%;
                            width: 100%;
                            border: 0.5px solid #1f1f1f;
                            object-fit: cover;
                            cursor: pointer;
                            filter: blur(0.4px);
                        }
                    }

                    .info {
                        display: grid;
                        align-items: center;
                        padding-left: 8px;
                        width: 70%;

                        .name {
                            // display: flex;
                            // align-items: center;
                            // justify-content: left;
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 400;
                            // padding-bottom: 4px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                            line-height: 25px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: left;
                            width: 100%;
                        }
                        .name:hover {
                            text-decoration: underline;
                        }
                        .quantity {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            // color: #b3b3b3;
                            color: #777777aa;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    .btnRemoveBox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;

                        .btnRemove {
                            border: 0.5px solid transparent;
                            background-color: transparent;
                            padding: 5px;
                            transition: ease-out 0.2s;
                            color: #ffffff;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 1;
                        }
                        .btnRemove:hover {
                            background-color: #121212;
                        }
                        .btnRemove:active {
                            background-color: red;
                        }
                    }
                }
                .btnPlaylist:hover {
                    background-color: #1f1f1f;
                }
                .btnPlaylist:active {
                    background-color: #000;
                }
            }
        }
        // Âm nhạc của tôi
        .mySong {
            position: relative;
            height: 42px;
            transition: ease-out 0.2s;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;
                border-bottom: 0.5px solid #1f1f1f;
                background-color: #121212cc;
                backdrop-filter: blur(15px);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;

                .title {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 500;
                    color: #ffffff;
                }
                .options {
                    display: flex;
                    align-items: center;

                    .btnExpand {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: #ffffff;
                        padding: 5px;
                        transition: ease-out 0.2s;
                        cursor: pointer;
                    }
                    .btnExpand:hover {
                        background-color: #1f1f1f;
                    }
                    .btnExpand:active {
                        background-color: #000;
                    }
                    .btnAdd {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 0.5px solid transparent;
                        color: #ffffff;
                        padding: 5px;
                        transition: ease-out 0.2s;
                        cursor: pointer;
                    }
                    .btnAdd:hover {
                        background-color: #1f1f1f;
                    }
                    .btnAdd:active {
                        background-color: #ffffff;
                        color: #000;
                    }
                }
            }

            .backTop {
                height: 42px;
            }

            .main {
                height: 0px;
                width: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                scroll-behavior: smooth;
                border-bottom: 0.5px solid #1f1f1f;
                transition: ease-in 0.2s;
                position: relative;
                z-index: 0;

                .btnPlaylist {
                    font-family: 'Funnel Sans', sans-serif;
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    border-bottom: 0.5px solid transparent;
                    height: 80px;
                    width: 100%;
                    padding: 8px;
                    transition: ease-out 0.2s;
                    cursor: pointer;

                    .coverImage {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 85px;

                        img {
                            height: 100%;
                            width: 100%;
                            border: 0.5px solid #1f1f1f;
                            object-fit: cover;
                            cursor: pointer;
                            filter: blur(0.4px);
                        }
                    }

                    .info {
                        display: grid;
                        align-items: center;
                        padding-left: 8px;
                        width: 75%;

                        .name {
                            // display: flex;
                            // align-items: center;
                            // justify-content: left;
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 400;
                            // padding-bottom: 4px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                            line-height: 25px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: left;
                            width: 100%;
                        }
                        .name:hover {
                            text-decoration: underline;
                        }
                        .quantity {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            // color: #b3b3b3;
                            color: #777777aa;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
                .btnPlaylist:hover {
                    background-color: #1f1f1f;
                }
                .btnPlaylist:active {
                    background-color: #000;
                }
            }
        }
    }
    // phần bottom của leftContainer
    .bottom {
    }
}

// CSS Middle Container
.middleContainer {
    position: relative;
    padding-top: 58.4px; // chừa cho phần thanh chuyển tab
    background-color: #121212;

    // Thanh chuyển tab ở middleContainer
    .tabSwitchBar {
        display: flex;
        align-items: center;
        background-color: rgba(18, 18, 18, 0.8);
        backdrop-filter: blur(15px);
        border-bottom: 0.5px solid #1f1f1f;
        height: 58.4px;
        position: fixed;
        top: 0;
        width: 50%;
        z-index: 99;

        .btnHomePage {
            font-family: 'Funnel Sans', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            transition: ease-out 0.2s;
            width: 100%;

            span {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                display: block;
            }
        }
        .btnHomePage:hover {
            background-color: #1f1f1f;
        }
        .btnHomePage:active {
            background-color: #000;
        }
        .btnFeedPage {
            font-family: 'Funnel Sans', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            transition: ease-out 0.2s;
            width: 100%;

            span {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                display: block;
            }
        }
        .btnFeedPage:hover {
            background-color: #1f1f1f;
        }
        .btnFeedPage:active {
            background-color: #000;
        }
        .btnComeBackBox {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .btnComeBack {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0.5px solid transparent;
                background-color: transparent;
                color: #ffffff;
                transition: ease-out 0.2s;
                cursor: pointer;
                height: 100%;
                padding: 5px 10px;
            }
            .tooltip {
                position: relative;
                display: inline-block;
                // border-bottom: 1px dotted black;
            }
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 80px;
                background-color: #000;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                transition: ease-out 0.1s;

                /* Position the tooltip */
                position: absolute;
                z-index: 99;
                top: 100%;
                left: 50%;
                margin-top: 5px;
                margin-left: -40px; /* Use half of the width (80/2 = 40), to center the tooltip */
            }
            .tooltip:hover .tooltiptext {
                visibility: visible;
                transition: ease-out 0.1s;
            }
            .btnComeBack:hover {
                background-color: #1f1f1f;
            }
            .btnComeBack:active {
                background-color: #ffffff;
                color: #000;
            }
        }

        .actived {
            border: none;
            border-bottom: 3px solid #ffffff;
        }
    }
}

// CSS Right Container
.rightContainer {
    position: fixed;
    // background: pink;
    background-color: #121212;
    border-left: 0.5px solid #1f1f1f;
    height: 100%;
    width: 100%;
    right: 0px;
    z-index: 2;

    // Song Player
    .songPlayer {
        position: relative;
        width: 100%;
        height: 100%;

        .top {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 58.4px;
            border: none;
            padding: 8px;
            // background-color: rgba(18, 18, 18, 0.8);
            // backdrop-filter: blur(15px);
            z-index: 99;

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                padding: 4px;
            }

            .options {
                display: flex;
                align-items: center;
                height: 100%;

                button:hover {
                    background-color: #1f1f1f;
                }
                button:active {
                    background-color: #000;
                }

                .btnFullSreen {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding: 4px;
                    background-color: transparent;
                    border: 0.5px solid transparent;
                    cursor: pointer;
                    color: #ffffff;
                    transition: ease-in 0.2s;
                }
                .btnPicInPic {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding: 4px;
                    background-color: transparent;
                    border: 0.5px solid transparent;
                    cursor: pointer;
                    color: #ffffff;
                    transition: ease-in 0.2s;
                }
            }
        }

        .middle {
            background-color: #121212;
            height: 100%;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            // topBack
            .topBack {
                height: 58.4px;
            }
            // bottomBack
            .bottomBack {
                height: 58.4px;
                background-color: red;
            }
            // thumbnail
            .carouselThumbnail {
                width: 100%;
                height: 50%;
                padding-top: 30px;

                // react slick
                .slick-list {
                    overflow: visible;
                }

                .thumbnail {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
            }
            // song info
            .songInfo {
                display: grid;
                justify-content: center;
                width: 100%;
                padding: 10px 0px;

                .name {
                    width: 300px;
                    overflow-y: hidden;
                    overflow-x: auto;
                    scrollbar-width: none;
                    scroll-behavior: smooth;
                    position: relative;
                    height: 23.2px;
                    transition: all 0.2s;

                    span {
                        display: block;
                        color: #ffffff;
                        white-space: nowrap;
                        font-size: 18px;
                        font-weight: 400;
                        position: absolute;
                        cursor: default;
                    }

                    .songNameMarqueeActived {
                        animation: songNameMarquee 18s ease-in-out infinite;
                    }
                }
                .name:hover {
                    background-color: #1f1f1f;
                }
                .artist {
                    width: 300px;
                    overflow-y: hidden;
                    overflow-x: hidden;

                    span {
                        display: block;
                        color: rgba(119, 119, 119, 0.6666666667);
                        white-space: nowrap;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                @keyframes songNameMarquee {
                    0% {
                        transform: translateX(0px);
                    }

                    50% {
                        transform: translateX(-450px);
                    }

                    100% {
                        transform: translateX(2px);
                    }
                }
            }
            // progress bar
            .progressBarContainer {
                height: fit-content;
                width: 100%;
                display: grid;
                justify-content: center;

                // thanh tải
                .progressBar {
                    height: 5px;
                    width: 300px;
                    background-color: #1f1f1f;
                    cursor: pointer;
                    margin: 10px 0px;

                    .progressed {
                        height: 100%;
                        background-color: #ffffff;
                        width: auto;
                    }
                }
                // thời gian của thanh tải
                .timeBar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #ffffff;
                    width: 300px;

                    .left {
                        font-weight: 300;
                        font-size: 15px;
                    }
                    .right {
                        font-weight: 300;
                        font-size: 15px;
                    }
                }
            }
        }

        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            // height: 58.4px;
            background-color: rgba(18, 18, 18, 0.8);
            backdrop-filter: blur(15px);
            border: none;
            // border-top: 0.5px solid #1f1f1f;

            // controls bar
            .controlsContainer {
                width: 100%;
                padding: 8px;

                .controls {
                    // width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    // Button Shuffle
                    .btnShuffleContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnShuffle {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                        }
                        .btnShuffle:hover {
                            background-color: #1f1f1f;
                        }
                        .btnShuffle:active {
                            background-color: #000;
                        }
                    }
                    // Button Previous Song
                    .btnPreviousSongContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnPreviousSong {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                        }
                        .btnPreviousSong:hover {
                            background-color: #1f1f1f;
                        }
                        .btnPreviousSong:active {
                            background-color: #000;
                        }
                    }
                    // Button Play
                    .btnPlayContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnPlay {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                        }
                        .btnPlay:hover {
                            background-color: #1f1f1f;
                        }
                        .btnPlay:active {
                            background-color: #000;
                        }
                    }
                    // Button Next Song
                    .btnNextSongContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnNextSong {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                        }
                        .btnNextSong:hover {
                            background-color: #1f1f1f;
                        }
                        .btnNextSong:active {
                            background-color: #000;
                        }
                    }
                    // Button Repeat
                    .btnRepeatContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnRepeat {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                        }
                        .btnRepeat:hover {
                            background-color: #1f1f1f;
                        }
                        .btnRepeat:active {
                            background-color: #000;
                        }
                    }
                    // Button Volume Control
                    .btnVolumeControlContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnVolumeControl {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                        }
                        .btnVolumeControl:hover {
                            background-color: #1f1f1f;
                        }
                        .btnVolumeControl:active {
                            background-color: #000;
                        }
                    }
                    // Button Like Song
                    .btnLikeSongContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;

                        .btnLikeSong {
                            // width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            color: #ffffff;
                            padding: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                            // color: #e84118;

                            .sparkles {
                                font-size: 8px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: transparent;
                                transition: ease-out 0.2s;
                                position: absolute;
                            }
                            .sparklesActived {
                                animation: sparklesAnimation 2s ease-out;
                            }
                            @keyframes sparklesAnimation {
                                0% {
                                    color: #d63031;
                                }

                                50% {
                                    color: #fd79a8;
                                    // transform: translate(-9px, -7px);
                                }

                                100% {
                                    color: transparent;
                                }
                            }
                        }
                        .btnLikeSongActived {
                            color: #d63031;
                        }
                        .btnLikeSong:hover {
                            background-color: #1f1f1f;
                        }
                        .btnLikeSong:active {
                            background-color: #000;
                        }
                        // .btnLikeSong:active .sparkles {
                        //     color: #d63031;
                        // }
                    }
                }
            }
        }
    }
}

// CSS Admin Layout

// CSS Sign In/Out Layout

// CSS Home Page
.homePage {
    background-color: #121212;
    padding: 0px;

    // Thử
    h1 {
        margin: 0px;
    }
    // Phần carousel News
    .carouselNews {
        position: relative;

        .btnPrevCarousel {
            display: flex;
            align-items: center;
            position: absolute;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.3) 35%,
                rgba(255, 255, 255, 0) 100%
            );
            border: none;
            color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
            transition: ease-out 0.2s;
        }
        .btnPrevCarousel:active {
            padding-left: 8px;
        }
        .btnNextCarousel {
            display: flex;
            align-items: center;
            position: absolute;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                270deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.3) 35%,
                rgba(255, 255, 255, 0) 100%
            );
            border: none;
            color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            top: 0;
            bottom: 0;
            right: 0;
            cursor: pointer;
            transition: ease-out 0.2s;
        }
        .btnNextCarousel:active {
            padding-right: 8px;
        }
    }
    // Component Carousel
    .carousel {
        position: relative;

        .slick-track {
            margin-left: 0px;
            margin-right: 0px;
        }

        .carouselItem {
            margin: 0px 8px;
            background-color: transparent;
            cursor: pointer;
            transition: ease-out 0.2s;
        }
        .carouselItem:hover {
            background-color: #1f1f1f;
        }
        .carouselItem:active {
            background-color: #000;
        }

        .btnPrevCarousel {
            display: flex;
            align-items: center;
            position: absolute;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.3) 35%,
                rgba(255, 255, 255, 0) 100%
            );
            border: none;
            color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
            transition: ease-out 0.2s;
        }
        .btnPrevCarousel:active {
            padding-left: 8px;
        }
        .btnNextCarousel {
            display: flex;
            align-items: center;
            position: absolute;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                270deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.3) 35%,
                rgba(255, 255, 255, 0) 100%
            );
            border: none;
            color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            top: 0;
            bottom: 0;
            right: 0;
            cursor: pointer;
            transition: ease-out 0.2s;
        }
        .btnNextCarousel:active {
            padding-right: 8px;
        }
    }
    // Phần carousel Dành cho bạn
    .carouselMixedForYou {
        margin: 30px 0px;

        .title {
            span {
                display: block;
                padding: 10px;
                padding-bottom: 15px;
                font-size: 24px;
                font-weight: 600;
                color: #ffffff;
            }
        }
    }
    // Phần carousel Âm nhạc thịnh hành
    .carouselTrendingMusic {
        margin: 30px 0px;

        .title {
            span {
                display: block;
                padding: 10px;
                padding-bottom: 15px;
                font-size: 24px;
                font-weight: 600;
                color: #ffffff;
            }
        }
    }
    // Phần carousel Theo thể loại
    .carouselByGenre {
        margin: 30px 0px;

        .title {
            span {
                display: block;
                padding: 10px;
                padding-bottom: 15px;
                font-size: 24px;
                font-weight: 600;
                color: #ffffff;
            }
        }
    }
}

// CSS Feed Page
.feedPage {
    width: 100%;

    // Bài viết (articleContainer)
    .articleContainer {
        padding: 12px 12px;
        width: 100%;
        border-bottom: 0.5px solid #1f1f1f;

        .article {
            display: flex;
            // height: 300px;
            width: 100%;
            // left
            .left {
                // width: fit-content;
                // width: 7%;
                height: 100%;
                display: grid;
                align-items: start;
                justify-content: center;
                padding-right: 10px;
                // background-color: rebeccapurple;

                // avatar
                .userAvatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: fit-content;
                    width: fit-content;
                    // padding: 8px;

                    img {
                        height: 42px;
                        width: 42px;
                        border: 0.5px solid #1f1f1f;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
            }
            // right
            .right {
                // background-color: green;
                height: 100%;
                width: 93%;
                // top
                .top {
                    display: flex;
                    // align-items: center;
                    justify-content: space-between;

                    .articleInfo {
                        display: flex;
                        height: 100%;

                        .userName {
                            color: #ffffff;
                            font-size: 15px;
                            font-weight: 500;
                            height: 100%;
                            margin-right: 5px;
                            cursor: pointer;
                            transition: ease-out 0.2s;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: max-content;
                            max-width: 230px;
                        }
                        .userName:hover {
                            text-decoration: underline;
                        }
                        .createdAt {
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            color: rgba(119, 119, 119, 0.6666666667);
                            font-size: 15px;
                            font-weight: 300;
                            height: 100%;
                        }
                    }
                    .articleOptions {
                        .btnArticleOptions {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            border: 0.5px solid transparent;
                            color: rgba(119, 119, 119, 0.6666666667);
                            cursor: pointer;
                            transition: ease-out 0.2s;
                            padding: 5px;
                        }
                        .btnArticleOptions:hover {
                            background-color: #1f1f1f;
                        }
                        .btnArticleOptions:active {
                            background-color: #000;
                        }
                    }
                }
                // middle
                .middle {
                    .content {
                        .text {
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            color: #ffffff;
                            font-size: 15px;
                            font-weight: 300;
                            padding-bottom: 8px;
                        }
                        .media {
                            .carouselMedia {
                                height: max-content;
                                max-height: 600px;
                                position: relative;
                                width: 400px; // trên mobile đổi lại thành 100%
                                margin-bottom: 26px;

                                .slick-track {
                                    // width: max-content !important;
                                    // margin-left: 0;
                                    // margin-right: 0;
                                    display: flex;
                                    align-items: center;
                                    // background: black;
                                }
                                .slick-slide {
                                    // width: max-content !important;
                                }

                                // mediaContainer
                                .mediaContainer {
                                    height: 100%;

                                    img {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                        object-position: center center;
                                        outline: 1px solid rgba(243, 245, 247, 0.15);
                                        outline-offset: -1px;
                                        // border-radius: 8px;
                                    }
                                }
                                // Nút điều khiển Carousel Media
                                .btnPrevCarousel {
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    background-color: transparent;
                                    // background: rgb(0, 0, 0);
                                    // background: linear-gradient(
                                    //     90deg,
                                    //     rgba(0, 0, 0, 0.8) 0%,
                                    //     rgba(0, 0, 0, 0.3) 35%,
                                    //     rgba(255, 255, 255, 0) 100%
                                    // );
                                    border: none;
                                    color: #ffffff;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    cursor: pointer;
                                    transition: ease-out 0.2s;
                                }
                                .btnPrevCarousel:active {
                                    padding-left: 8px;
                                    color: #000;
                                }
                                .btnNextCarousel {
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    background-color: transparent;
                                    // background: rgb(0, 0, 0);
                                    // background: linear-gradient(
                                    //     270deg,
                                    //     rgba(0, 0, 0, 0.8) 0%,
                                    //     rgba(0, 0, 0, 0.3) 35%,
                                    //     rgba(255, 255, 255, 0) 100%
                                    // );
                                    border: none;
                                    color: #ffffff;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    top: 0;
                                    bottom: 0;
                                    right: 0;
                                    cursor: pointer;
                                    transition: ease-out 0.2s;
                                }
                                .btnNextCarousel:active {
                                    padding-right: 8px;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// CSS Component Video Ambilight
.videoWrapper {
    width: 100%;
    max-width: 720px;
    // margin: 25px auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .ambilightWrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .aspectRatio {
        padding: 15px;
        padding-top: 0px;
    }

    #video {
        position: relative;
        width: 100%;
        height: 100%;
        // border-radius: 8px;
        aspect-ratio: 16 / 9;
        z-index: 2;
    }

    #ambilight {
        filter: blur(80px) opacity(0.5) saturate(300%);
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        // transform: scale(1.1) translateZ(0);
        width: 100%;
        z-index: 1;
        height: 100%;
    }
}

// CSS Component Image Ambilight
.imageWrapper {
    width: 100%;
    max-width: 720px;
    // margin: 25px auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .ambilightWrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .aspectRatio {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #imageAmbilight {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 300px;
        width: 300px;
        object-fit: cover;
        object-position: center center;
        // filter: blur(80px) opacity(0.5) saturate(300%);
        filter: blur(35px) opacity(0.2) saturate(300%);
        pointer-events: none;
        z-index: 1;
    }

    #image {
        position: relative;
        // width: 100%;
        // height: 100%;
        // // border-radius: 8px;
        // // aspect-ratio: 16 / 9;
        height: 300px;
        width: 300px;
        object-fit: cover;
        object-position: center center;
        z-index: 2;
    }

    #ambilight {
        filter: blur(80px) opacity(0.5) saturate(300%);
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        // transform: scale(1.1) translateZ(0);
        width: 100%;
        z-index: 1;
        height: 100%;
    }
}

/*                           MEDIA QUERY                          */
/***** 1. Thiết bị có kích thước màn hình 740px - 1023px (màn hình tablet và laptop nhỏ) *****/
@media (min-width: 740px) and (max-width: 1023px) {
}
/***** 2. Thiết bị có kích thước màn hình 1024px - 1239px (màn của PC or Laptop) *****/
@media (min-width: 1024px) and (max-width: 1239px) {
}
/***** 3. Thiết bị có kích thước màn hình >= 740px (màn từ Tablet trở lên) *****/
@media (min-width: 740px) {
}
/***** 4. Thiết bị có kích thước màn hình >= 1113px (PC or Laptop có màn lớn) *****/
@media (min-width: 1113px) {
}
/***** 5. Thiết bị có kích thước màn hình <= 600px (Điện thoại) *****/
@media (max-width: 600px) {
    // CSS Middle Container
    .middleContainer {
        .tabSwitchBar {
            width: 100%;
        }
    }
    // CSS Feed Page
    .feedPage {
        .articleContainer {
            .article {
                .right {
                    width: 85%;

                    .middle {
                        .content {
                            .media {
                                .carouselMedia {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //
}
